<section class="skin">
  <h2 class="heading">Work</h2>
  <div class="row bs">
    {{ range .Pages }}
    <div class="col-lg-4 col-md-4 col-12 mb-3 bs">
      <div class="card p-4 bs"> <!-- Eine Karte  -->
        <!-- Image -->
        <a class="mb-3 bs" href={{ .Permalink }}>
          <div class="featuredImage rounded bs" style="background-size:cover;background-position:center;background-image: url({{ .Params.image | relURL}}); height: 180px;background-color:#fbfbfb;">
          </div>
        </a>
        <!-- Titel -->
        <a href={{ .Permalink }} class="bs">
          <h3 class="h4 font-weight-bold text-dark">
            {{ .Title }}
          </h3>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</section>

